@font-face {
    font-family: "Inter.ttf";
    src: url(material/Inter.ttf); 
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: "Inter.ttf";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
        
}

header {
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
}

p {
    color: #7f7f7f;
}

h1,h2,h3,h4 {
    font-weight: 650;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
    margin-bottom: 8px;
}

img {
    max-width: 100%;
}

main {
    max-width: 1000px;
    margin-top: 120px;   
}

.barky-logo {
    width: 100px;       
}

.hamburger {
    display: none;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
  margin-left: 16px;
  margin-right: 16px;
  
  background-color: white;
}

.navigation-wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 6px;
    padding: 4px;  
}

.navigation-wrapper a:hover {
    background-color: #f4f4f4;
    border-radius: 3px;
}

.barky-button-end a:hover,
.barky-button a:hover,
.barky-button-introduction a:hover {
    background-color: #353535;
}

.barky-button-end a {
    background-color: black;
    color: white;
    width: 125px;
    display: block;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right:5px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-decoration: none;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
}

.barky-button a {
    background-color: black;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 14px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
}

.barky-button-introduction a {
   background-color: black;
    color: white;
    width: 130px;
    border-radius: 3px;
    text-align: center;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right:8px; 
    margin-top: 20px;
    text-decoration: none;
    display: block; 
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation-right {
    display: flex;
    align-items: center;
    gap:5px;  
}

.navigation-right a {
    display: flex;
    text-decoration: none;
    color: black;
}

a.request {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}

.navigation-right img {
    width: 12px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigation-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navigation-left img {
    width: 12px;
}

.navigation-left {
    display: flex;
    gap: 10px;
}

.icons {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-top: 50px;
    text-align: center;
    padding: 30px 0;
}

.icons-img {
    height: 45px;
    padding: 10px;
}

.introduction {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 64px;
}

.first-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.1;
}

.first-photo {
    max-width: 50%;       
}

.presentation-bild{
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    margin-bottom: 46px;
}

.citat-rubrik {
    margin-top: 95px;
    margin-bottom: 16px;
    font-size: 36px;
}

.citat {
    text-align: center;
    color: #999999;
    align-content: center;
    margin: auto;
    padding: 10px;
    font-size: 36px;
    font-weight: 550;
}

.citat-text {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 50%;
}

.citat-wrapper {
    display: flex;
    align-items: center;
    margin-left: 380px;    
}

.citat-bild {
    height: 40px;
    padding-right: 10px;      
}

.citat-namn {
    color: black;
}

.title-plan {
    margin-bottom: 10px;
    margin-top: 100px;
        
}

.text-plan {
    text-align: center;
    align-content: center;
    margin: auto;
    width: 57%;
}

.free-plan {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;   
}

.plan-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  border-bottom: 1px solid #e5e5e5;
  margin: 12px;
  padding-bottom: 12px;     
}

#plan-list-item-last {
    border: none;
}

.plan-list-item img{
    height: 18px;
}

.list-wrapper {
  background-color: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 580px;
  border-radius: 4px;
  margin-bottom: 90px;
}

.team-introduction {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px
}

.team-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
    padding-bottom: 100px;
}

.team-column {
    text-align: center;     
}

.team-column-product {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px
}

.team-link {
    color: black;
    margin-top: 12px;
    display: block;
}

.ratings-title {
    text-align: center;
    padding-bottom: 40px;
        
}

.ratings-introduction-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.rating-introduction-title {
    padding-bottom: 10px;
}

.ratings-introduction {
    align-items: center;
  justify-content: center;
    gap: 50px;
    width: 50%;       
}

.ratings-picture {
    max-width: 50%;
}

.ratings-introduction-wrapper a {
    color: black;
}
    
.ratings-column-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin: 48px 0 0;
}

.rating-column {
    border-right: 1px solid #e5e5e5;
    padding: 0 2rem;
    font-size: 18px;
    text-align: center;
}

.rating-column.last {
    border-right-width: 0;
}

.ratings-column-wrapper h2 {
    font-size: 56px;
    color: #7f7f7f;
}

.ending-line {
    text-align: center;
}

.ending-title {
    padding-top: 100px;
    padding-bottom: 10px;    
}

.footer-wrapper {
   /*! display: flex; */
   width: 100%;
   max-width: 1200px;
} 

.barky-information{
    max-width: 320px;
    font-size: 14px;
    padding-left: 20px;
}

.footer-icons {
    width: 21px;
}

.social-icons {
    display: flex;
    gap: 14px;
    margin: 16px 0 32px;
}

.footer-barky {
    width: 130px;
}

.footer-title {
    color: black;
    font-weight: 450;
}

.footer-column a {
    text-decoration: none;
    display: block;
    color: #7f7f7f;
    padding: 5px 0;
}

.footer-content {
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    display: flex;
    padding: 64px 0;
    justify-content: space-between;
    gap: 3rem;
    max-width: 1200px;
}

.footer-columns {
    display: flex;
    gap: 5rem;
}

.footer-columns p {
    margin-bottom: 5px;
    font-weight: 550;
    color: #666;
}

@media (max-width: 600px) {

    body {
        text-align: center;
        font-size: 14px;
        display: block;
    }
    
    header {
        position: static;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .barky-logo {
        width: 80px;
        align-items: left;
    }
    
    .hamburger {
        display: block;
        width: 16px;
    }

    .navigation-left, .navigation-right, .barky-button {
        display: none;
    }

    .introduction, .ratings-introduction-wrapper, .ratings-column-wrapper, .team-column-wrapper, .footer-columns {
        flex-wrap: wrap;
        display: block;
    }
    
    .introduction {
        display: flex;
    }

    main {
        max-width: 100%;
        margin: 0 16px;
        width: auto;
    }

    .first-photo {
        max-width: 100%;
        order: 1;
        margin-top: 32px;
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 6px;
    }

    .navigation-wrapper {
        border-bottom-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        height: 35px;
        margin-top: 6px;
    }
   
    .first-text {
        order: 2;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        text-align: center;
    }

    .introduction {
        gap: 0;
        text-align: center;
    }

    .first-text {
        order: 2;
    }

    h1 {
        font-size: 36px;
        text-align: center;
    }

    .introduction {
        gap: 0;
        text-align: center;
    }
    
    .barky-button-introduction a {
      margin: 16px auto 0 auto;
    }

    .icons-img {
        height: 28px;
        padding: 5px 15px;
    }

    .presentation-1 {
        text-align: center;
    }
  
     .presentation-3 {
        margin-bottom: 70px;
    }

    h2.citat-rubrik {
        margin-top: 48px;
        font-size: 24px;
    }

    p.citat-text {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        width: auto;
    }

    .citat {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .citat-wrapper {
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }
    
    .citat-wrapper.last {
        
    }
    
    .text-plan {
        width: 100%;
    }
     
    .presentation-bild {
        margin-bottom: 20px;
    }

    .citat-text {
        text-align: left;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .ratings-introduction {
        width: auto;
        text-align: left;
    }
    
    .rating-introduction-title {
        font-size: 18px;
        padding-bottom: 3px;
    }
    
    .ratings-picture {
        max-width: 100%;
    }
    .rating-column {
        border: none;
        margin-bottom: 32px;
    }
    
    .rating-column.last {
        margin-bottom: 0;
    }

    .team-column-wrapper {
        display: flex;
    }
    
    .team-column-product {
        border: none;
    }

    .footer-content {
        flex-wrap: wrap;
        text-align: left;
        
    }
   
    .footer-column {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

